h1{
    color: blue;
    background-color: aliceblue;
}
p{
    color: #891a1a;
    font-size: 35px;
    background-color: bisque;
}
div{
    width: 400px;
    height: 400px;
    color:white;
    background-color: green;
}